<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin Template{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('A_app') }}
    {% endblock %}
</head>
<body>
    <div id="main">
        <div id="main-navigation">
            <h1>Sheepr-Admin</h1>
            <nav>
                <a href="{{path('admin_home')}}">Home</a>
                <a href="{{ path('admin_new_post') }}">New Post</a>
                <a href="javascript: void(0);">Requests</a>
                <a href="javascript: void(0);">Q&A</a>
                <a href="{{ path('app_logout') }}">Log Out</a>
            </nav>
        </div>
        <div id="blank-banner"></div>
        <div id="main-content">
            {% block body %}
            {% endblock %}
        </div>
    </div>

{% block javascripts %}
    {{ encore_entry_script_tags('A_app') }}
{% endblock %}
</body>
</html>
